/**{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #e3e0e0;
	
}*/

.banner{
	width: 50%;
	height: 50%;
}
.navbar{
	width: 85%;
	margin: auto;		
	padding: 35px 0;
	/*display: flex;*/
	align-items: center;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	position: relative;
	float: left;
}
.navbar ul li a{
	text-decoration: none;
	/*color: #107896;*/
	color: black;
	text-transform: uppercase;
	display: inline-block;
	padding: 6px 25px;
}
.navbar ul li a:after{
	content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
    margin: 0 25px 0 ;
}
.navbar ul li a:before{
	content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li a:hover:after, .navbar ul li a:hover:after{
	width: 60%;
}
.navbar ul li ul{
	position: absolute;
	background: transparent;
	width: 208px;
	transition: .7s;
	opacity: 0;
	visibility: hidden;
	margin-top: -25px;
	padding: 20px 0 0 0;
}
.navbar ul li:hover > ul{
	opacity: 1;
	visibility: visible;;
	margin-top: 0;	
}
.logo{
	width: 550px;
	position: absolute;
	right: 34.5%;
	top: 17%;
}
/*.search{
	width: 40%;
	margin: auto; 
	position: absolute;
	top: 50%;
	left: 30%;
}
.search input,button{
	width: 75%;
	border: 2px solid black;
	font-size: 18px;
	padding: 12px;
	background: transparent;
	color: black;

}
.search button{
	width: 20%;
	background: #eee;
	color: black;
	float: right;

}
.search button:hover{
	opacity: 0.7;
}
.search li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.search ul li a{
	text-decoration: none;
	color: #107896;
	text-transform: uppercase;
}
.match{
	width: 50%;
	position: absolute;
	right: 20%;
	top: 60%;
}*/


/*FOR SEARCH GUI and OUTPUT */

  .navi_search{
    padding: 8px;
    font-family: Ubuntu;
    font-size: 18px; 
  }
  .result-bar{
    background: #f5f5f5;
    padding: 10px;
  }
  .active-pill{
  	color: green;
  }
  .inactive-pill
  {
  	color: slategray;
  }